extends ../layouts/default

block content
	.container: .jumbotron
		img(src='/images/logo.png', width='160')
		h1 Financiamiento Transparente
		p Financiamiento Transparente es una herramienta para evaluar el financiamiento y gasto de partidos políticos. Con esta herramienta, se podrá evaluar la transparencia en los procesos financieros de los partidos políticos y detectar cualquier anomalía en transacciones o financiamientos ilícitos.
